# db info
# name memonyasin2007_db_user
# password IdMaQiFthD1CygkJ
MONGO_URI=mongodb+srv://memonyasin2007_db_user:IdMaQiFthD1CygkJ@cluster0.lqosjcx.mongodb.net/LuminaLearn
JWT_SECRET=mekalearningsystem
ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=admin123

# cloudinary setup
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dffxv7leq
NEXT_PUBLIC_CLOUDINARY_API_KEY=458485826436187
CLOUDINARY_API_SECRET=iPdENmZVypZJmHdtSXeTA4JaoE0

# BACKEND_API=http://localhost:3000/api