.loading {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.notFound {
  color: red;
}

.cardContainer {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  margin-top: 3vh;
}
