.category-header {
  display: flex;
  justify-content: end;
}

.category-header button {
  background-color: dodgerblue;
  width: 8vw;
  height: 4vh;
  border: none;
  color: white;
  font-weight: 700;
  border-radius: 1rem;
  cursor: pointer;
}

.card-container {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.category-card {
  width: 25vw;
  background-color: antiquewhite;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  border: 1px solid dodgerblue;
}
