.search-area {
  position: relative;
  height: fit-content;
  display: flex;
  justify-content: center;
  margin-bottom: 2vh;
}

.searchbar {
  width: 100%;
  height: 5.3vh;
  margin-top: 3vh;
  padding: 6px 8px;
  font-size: 1rem;
  border: 1px solid black;
  outline: none;
  border-radius: 1rem;
}

.search-btn {
  position: absolute;
  right: 8;
  color: white;
  font-weight: 900;
  border-radius: 1rem;
  padding: 5px 12px;
  background-color: dodgerblue;
  border: none;
  top: 48%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
